USE [master]
GO
/****** Object:  Database [ChainPOS]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE DATABASE [ChainPOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChainPOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\ChainPOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChainPOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\ChainPOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChainPOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChainPOS]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
	[OrderCode] [nvarchar](50) NOT NULL,
	[StaffUserId] [nvarchar](450) NULL,
	[ShiftId] [uniqueidentifier] NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentStatus] [nvarchar](30) NOT NULL,
	[OrderStatus] [nvarchar](30) NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](450) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[CancelledBy] [nvarchar](450) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DailySalesReport]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   Reporting views
   ============================================================ */

CREATE   VIEW [dbo].[vw_DailySalesReport]
AS
SELECT
    o.[TenantId],
    o.[StoreId],
    CAST(o.[CreatedAt] AS DATE) AS [ReportDate],
    COUNT_BIG(*) AS [OrderCount],
    SUM(o.[SubTotal]) AS [SubTotal],
    SUM(o.[DiscountAmount]) AS [DiscountAmount],
    SUM(o.[TaxAmount]) AS [TaxAmount],
    SUM(o.[TotalAmount]) AS [TotalAmount]
FROM [dbo].[Orders] o
WHERE o.[OrderStatus] <> N'Cancelled'
GROUP BY
    o.[TenantId],
    o.[StoreId],
    CAST(o.[CreatedAt] AS DATE);

GO
/****** Object:  View [dbo].[vw_StaffSalesReport]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_StaffSalesReport]
AS
SELECT
    o.[TenantId],
    o.[StoreId],
    o.[StaffUserId],
    CAST(o.[CreatedAt] AS DATE) AS [ReportDate],
    COUNT_BIG(*) AS [OrderCount],
    SUM(o.[TotalAmount]) AS [TotalSales]
FROM [dbo].[Orders] o
WHERE o.[OrderStatus] <> N'Cancelled'
GROUP BY
    o.[TenantId],
    o.[StoreId],
    o.[StaffUserId],
    CAST(o.[CreatedAt] AS DATE);

GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Sku] [nvarchar](64) NULL,
	[Barcode] [nvarchar](128) NULL,
	[Description] [nvarchar](2000) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](450) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[MinQuantity] [decimal](18, 3) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](450) NULL,
 CONSTRAINT [PK_Inventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_InventoryStatusReport]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_InventoryStatusReport]
AS
SELECT
    i.[TenantId],
    i.[StoreId],
    i.[ProductId],
    p.[Name] AS [ProductName],
    p.[Sku],
    p.[Barcode],
    i.[Quantity],
    i.[MinQuantity],
    CASE
        WHEN i.[Quantity] <= i.[MinQuantity] THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END AS [IsLowStock],
    i.[UpdatedAt]
FROM [dbo].[Inventories] i
INNER JOIN [dbo].[Products] p ON p.[Id] = i.[ProductId]
WHERE p.[IsDeleted] = 0;

GO
/****** Object:  Table [dbo].[SystemPayments]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemPayments](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[SubscriptionId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Method] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[TransactionCode] [nvarchar](100) NULL,
	[ProviderTransactionId] [nvarchar](100) NULL,
	[BankCode] [nvarchar](50) NULL,
	[BankAccountNo] [nvarchar](50) NULL,
	[BankAccountName] [nvarchar](255) NULL,
	[QrContent] [nvarchar](1000) NULL,
	[TransferContent] [nvarchar](255) NULL,
	[PaidAt] [datetime2](7) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[RawResponse] [nvarchar](max) NULL,
	[ExpiredAt] [datetime2](7) NULL,
	[InvoiceUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_SystemPayments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemPaymentWebhooks]    Script Date: 6/4/2026 12:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemPaymentWebhooks](
	[Id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_SystemPaymentWebhooks_Id] DEFAULT (newsequentialid()),
	[SystemPaymentId] [uniqueidentifier] NULL,
	[Gateway] [nvarchar](30) NOT NULL CONSTRAINT [DF_SystemPaymentWebhooks_Gateway] DEFAULT (N'sepay'),
	[EventType] [nvarchar](50) NULL,
	[ReferenceCode] [nvarchar](100) NULL,
	[ContentTransfer] [nvarchar](1000) NULL,
	[Amount] [decimal](18, 2) NULL,
	[RawPayload] [nvarchar](max) NOT NULL,
	[IsProcessed] [bit] NOT NULL CONSTRAINT [DF_SystemPaymentWebhooks_IsProcessed] DEFAULT ((0)),
	[ProcessedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL CONSTRAINT [DF_SystemPaymentWebhooks_CreatedAt] DEFAULT (sysutcdatetime()),
 CONSTRAINT [PK_SystemPaymentWebhooks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SystemRevenueReport]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_SystemRevenueReport]
AS
SELECT
    sp.[TenantId],
    CAST(sp.[PaidAt] AS DATE) AS [PaidDate],
    COUNT_BIG(*) AS [PaymentCount],
    SUM(sp.[Amount]) AS [TotalAmount]
FROM [dbo].[SystemPayments] sp
WHERE sp.[Status] = N'Paid'
GROUP BY
    sp.[TenantId],
    CAST(sp.[PaidAt] AS DATE);

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[TenantId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](450) NULL,
	[LastLoginAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenantId] [uniqueidentifier] NULL,
	[StoreId] [uniqueidentifier] NULL,
	[UserId] [nvarchar](450) NULL,
	[Action] [nvarchar](100) NOT NULL,
	[EntityName] [nvarchar](128) NULL,
	[EntityId] [nvarchar](100) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](64) NULL,
	[UserAgent] [nvarchar](512) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](450) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[BeforeQuantity] [decimal](18, 3) NOT NULL,
	[AfterQuantity] [decimal](18, 3) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[ReferenceType] [nvarchar](50) NULL,
	[ReferenceId] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_InventoryTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[Sku] [nvarchar](64) NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Method] [nvarchar](30) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionCode] [nvarchar](100) NULL,
	[PaidAt] [datetime2](7) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
	[OpenedBy] [nvarchar](450) NOT NULL,
	[OpenedAt] [datetime2](7) NOT NULL,
	[ClosedBy] [nvarchar](450) NULL,
	[ClosedAt] [datetime2](7) NULL,
	[OpeningCash] [decimal](18, 2) NOT NULL,
	[ClosingCash] [decimal](18, 2) NULL,
	[ExpectedCash] [decimal](18, 2) NULL,
	[DifferenceAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreProducts]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreProducts](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[SellingPrice] [decimal](18, 2) NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](450) NULL,
 CONSTRAINT [PK_StoreProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](50) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](450) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPlans]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPlans](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[BillingCycle] [nvarchar](30) NOT NULL,
	[MaxStores] [int] NULL,
	[MaxStaff] [int] NULL,
	[MaxProducts] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](450) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SubscriptionPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenants]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenants](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[OwnerUserId] [nvarchar](450) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](256) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](450) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Tenants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TenantSubscriptions]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantSubscriptions](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[PlanId] [uniqueidentifier] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](30) NOT NULL,
	[AutoRenew] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](450) NULL,
 CONSTRAINT [PK_TenantSubscriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStores]    Script Date: 5/29/2026 3:59:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStores](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
 CONSTRAINT [PK_UserStores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'ADMIN', N'ADMIN', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'OWNER', N'OWNER', N'OWNER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'STAFF', N'STAFF', N'STAFF', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2638ac7edf51453c85cd42d1fa04518d', N'ADMIN')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'21d72b7f0de04977b5fd0d792ecdb5dd', N'OWNER')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7f7661e7280843f5955010411ca5d1c6', N'OWNER')
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([Id], [TenantId], [StoreId], [UserId], [Action], [EntityName], [EntityId], [OldValue], [NewValue], [IpAddress], [UserAgent], [CreatedAt]) VALUES (1, N'd1335392-f71b-4462-a835-58f325306a73', NULL, N'2638ac7edf51453c85cd42d1fa04518d', N'LockUser', N'AspNetUser', N'9517d31e34754d0b9e0aad1f96c712d0', N'Active', N'Locked', N'::1', N'Mozilla/5.0 (Windows NT; Windows NT 10.0; en-US) WindowsPowerShell/5.1.26100.8457', CAST(N'2026-05-28T23:23:22.5077788' AS DateTime2))
INSERT [dbo].[AuditLogs] ([Id], [TenantId], [StoreId], [UserId], [Action], [EntityName], [EntityId], [OldValue], [NewValue], [IpAddress], [UserAgent], [CreatedAt]) VALUES (2, N'd1335392-f71b-4462-a835-58f325306a73', NULL, N'2638ac7edf51453c85cd42d1fa04518d', N'UnlockUser', N'AspNetUser', N'9517d31e34754d0b9e0aad1f96c712d0', N'Locked', N'Active', N'::1', N'Mozilla/5.0 (Windows NT; Windows NT 10.0; en-US) WindowsPowerShell/5.1.26100.8457', CAST(N'2026-05-28T23:23:22.6976153' AS DateTime2))
INSERT [dbo].[AuditLogs] ([Id], [TenantId], [StoreId], [UserId], [Action], [EntityName], [EntityId], [OldValue], [NewValue], [IpAddress], [UserAgent], [CreatedAt]) VALUES (3, N'd1335392-f71b-4462-a835-58f325306a73', N'b0342094-a7f9-4a8d-a74a-16763ed1b0e6', N'9517d31e34754d0b9e0aad1f96c712d0', N'CreateStore', N'Store', N'b0342094-a7f9-4a8d-a74a-16763ed1b0e6', NULL, N'Name=AI Test Store 1780011907; Code=AI-1780011907; Status=Active', N'::1', N'Mozilla/5.0 (Windows NT; Windows NT 10.0; en-US) WindowsPowerShell/5.1.26100.8457', CAST(N'2026-05-28T23:45:07.2314974' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
INSERT [dbo].[Categories] ([Id], [TenantId], [Name], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'8259a8c2-1a6a-42ed-907d-204aea1bcf27', N'd1335392-f71b-4462-a835-58f325306a73', N'Storage', N'SSD, memory cards and portable storage.', 1, CAST(N'2026-05-29T08:51:51.1385385' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', CAST(N'2026-05-29T08:55:01.7346299' AS DateTime2), N'seed', 0)
INSERT [dbo].[Categories] ([Id], [TenantId], [Name], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'42e6726e-6df0-4c7f-930b-2e0e526b23eb', N'd1335392-f71b-4462-a835-58f325306a73', N'Audio', N'Headphones, earbuds and speaker products.', 1, CAST(N'2026-05-29T08:51:51.1361050' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', CAST(N'2026-05-29T08:55:01.7292908' AS DateTime2), N'seed', 0)
INSERT [dbo].[Categories] ([Id], [TenantId], [Name], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'3cf568fc-65a0-4417-ad1f-430e7d196fa8', N'd1335392-f71b-4462-a835-58f325306a73', N'Smartphones', N'Flagship and mid-range smartphones.', 1, CAST(N'2026-05-29T08:51:51.1324418' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', CAST(N'2026-05-29T08:55:01.7274695' AS DateTime2), N'seed', 0)
GO
INSERT [dbo].[StoreProducts] ([Id], [TenantId], [StoreId], [ProductId], [SellingPrice], [IsAvailable], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'8efeab38-8207-4e24-8fb8-03170a9b5d60', N'd1335392-f71b-4462-a835-58f325306a73', N'a8b34f9a-41a6-476c-be47-f7fb5fb3d030', N'642c76a8-c592-433d-adc3-06dc1e76a86a', NULL, 1, CAST(N'2026-05-29T08:51:51.2901260' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', CAST(N'2026-05-29T08:55:01.8999121' AS DateTime2), N'seed')
INSERT [dbo].[StoreProducts] ([Id], [TenantId], [StoreId], [ProductId], [SellingPrice], [IsAvailable], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'af6e5e7d-2553-429d-935b-0ea55148cc94', N'd1335392-f71b-4462-a835-58f325306a73', N'eec17bd6-f089-4dc0-ae12-1f16379abee1', N'fb3b95b3-d8ed-418e-93a4-164ac59e1a15', NULL, 0, CAST(N'2026-05-29T08:51:51.2911985' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', CAST(N'2026-05-29T08:55:01.9037192' AS DateTime2), N'seed')
INSERT [dbo].[StoreProducts] ([Id], [TenantId], [StoreId], [ProductId], [SellingPrice], [IsAvailable], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'b4431fb9-3d60-4dd5-b1ec-1d567aab4118', N'd1335392-f71b-4462-a835-58f325306a73', N'be91af28-8a32-4648-a884-e05605d1bb82', N'9b079924-6e6a-4934-a315-e67f15e346e3', CAST(5990000.00 AS Decimal(18, 2)), 1, CAST(N'2026-05-29T08:51:51.2876558' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', CAST(N'2026-05-29T08:55:01.8928154' AS DateTime2), N'seed')
GO
INSERT [dbo].[Stores] ([Id], [TenantId], [Name], [Code], [Address], [Phone], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'b0342094-a7f9-4a8d-a74a-16763ed1b0e6', N'd1335392-f71b-4462-a835-58f325306a73', N'AI Test Store Updated 1780011907', N'AI-1780011907', N'AI updated address', N'0900000001', N'Closed', CAST(N'2026-05-28T23:45:07.1992332' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', CAST(N'2026-05-28T23:45:07.5349764' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', 1)
INSERT [dbo].[Stores] ([Id], [TenantId], [Name], [Code], [Address], [Phone], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'eec17bd6-f089-4dc0-ae12-1f16379abee1', N'd1335392-f71b-4462-a835-58f325306a73', N'TechZone Bach Dang', N'TZ-DN-01', N'155 Bach Dang, Hai Chau, Da Nang', N'02363660004', N'Inactive', CAST(N'2026-05-29T08:51:50.8295765' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', CAST(N'2026-05-29T08:55:01.6215447' AS DateTime2), N'seed', 0)
INSERT [dbo].[Stores] ([Id], [TenantId], [Name], [Code], [Address], [Phone], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'366b9b72-d835-475a-84b5-3f56c4a4c2c4', N'd1335392-f71b-4462-a835-58f325306a73', N'Demo Store 01', N'DEMO-01', N'Demo store address', N'0900000002', N'Active', CAST(N'2026-05-28T22:50:20.4809248' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', NULL, NULL, 0)
GO
INSERT [dbo].[SubscriptionPlans] ([Id], [Name], [Price], [BillingCycle], [MaxStores], [MaxStaff], [MaxProducts], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'49c611de-0325-450e-b584-9d9903ec4ea8', N'Business Demo', CAST(1990000.00 AS Decimal(18, 2)), N'Monthly', 10, 50, 200, 1, CAST(N'2026-05-29T08:51:50.6451172' AS DateTime2), N'seed', CAST(N'2026-05-29T08:55:01.3273647' AS DateTime2), N'seed', 0)
GO
INSERT [dbo].[Tenants] ([Id], [Name], [OwnerUserId], [TaxCode], [Address], [Phone], [Email], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'4f28ce41-8e7a-41a7-ba3d-2a77bdb2f642', N'Ha Noi Digital Mart', N'7f7661e7280843f5955010411ca5d1c6', N'0102222222', N'12 Ly Thuong Kiet, Hoan Kiem, Ha Noi', N'0903000002', N'hello@hanoidigital.local', N'Trial', CAST(N'2026-05-29T08:51:51.5133448' AS DateTime2), N'7f7661e7280843f5955010411ca5d1c6', CAST(N'2026-05-29T08:55:01.9513306' AS DateTime2), N'seed', 0)
INSERT [dbo].[Tenants] ([Id], [Name], [OwnerUserId], [TaxCode], [Address], [Phone], [Email], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'd1335392-f71b-4462-a835-58f325306a73', N'TechZone Vietnam Retail', N'9517d31e34754d0b9e0aad1f96c712d0', N'0312345678', N'72 Le Thanh Ton, District 1, Ho Chi Minh City', N'0901000001', N'hello@techzone.local', N'Active', CAST(N'2026-05-28T22:50:20.4128448' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0', CAST(N'2026-05-29T08:55:01.4791863' AS DateTime2), N'seed', 0)
INSERT [dbo].[Tenants] ([Id], [Name], [OwnerUserId], [TaxCode], [Address], [Phone], [Email], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'6ea2b457-cb8b-4116-bde6-5b4e5d385288', N'Da Nang Mobile Center', N'21d72b7f0de04977b5fd0d792ecdb5dd', N'0403333333', N'86 Nguyen Van Linh, Hai Chau, Da Nang', N'0903000003', N'support@danangmobile.local', N'Suspended', CAST(N'2026-05-29T08:51:51.6285087' AS DateTime2), N'21d72b7f0de04977b5fd0d792ecdb5dd', CAST(N'2026-05-29T08:55:01.9806241' AS DateTime2), N'seed', 0)
GO
INSERT [dbo].[TenantSubscriptions] ([Id], [TenantId], [PlanId], [StartDate], [EndDate], [Status], [AutoRenew], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'2cd1875f-7a6a-4720-a00c-0a5cf0ce8ba7', N'6d6311e1-bad2-4029-9550-89766cb9681a', N'49c611de-0325-450e-b584-9d9903ec4ea8', CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), N'Active', 1, CAST(N'2026-05-29T08:51:51.4166672' AS DateTime2), N'seed', CAST(N'2026-05-29T08:55:01.9441346' AS DateTime2), N'seed')
INSERT [dbo].[TenantSubscriptions] ([Id], [TenantId], [PlanId], [StartDate], [EndDate], [Status], [AutoRenew], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'e94a2e1c-5e43-4f67-9f36-3a8b2f5f3cd8', N'6ea2b457-cb8b-4116-bde6-5b4e5d385288', N'49c611de-0325-450e-b584-9d9903ec4ea8', CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), N'Active', 1, CAST(N'2026-05-29T08:51:51.6537271' AS DateTime2), N'seed', CAST(N'2026-05-29T08:55:01.9845309' AS DateTime2), N'seed')
INSERT [dbo].[TenantSubscriptions] ([Id], [TenantId], [PlanId], [StartDate], [EndDate], [Status], [AutoRenew], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'a3fd74bc-f566-4d83-8865-b640c7c75794', N'4f28ce41-8e7a-41a7-ba3d-2a77bdb2f642', N'49c611de-0325-450e-b584-9d9903ec4ea8', CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), N'Active', 1, CAST(N'2026-05-29T08:51:51.5238495' AS DateTime2), N'seed', CAST(N'2026-05-29T08:55:01.9725131' AS DateTime2), N'seed')
GO
INSERT [dbo].[UserStores] ([Id], [TenantId], [UserId], [StoreId], [IsActive], [CreatedAt], [CreatedBy]) VALUES (N'ffacf580-616b-4c79-ac7d-4b4684b028ce', N'd1335392-f71b-4462-a835-58f325306a73', N'77aefb574c2f4414ac1ac649c8fcbcd9', N'eec17bd6-f089-4dc0-ae12-1f16379abee1', 1, CAST(N'2026-05-29T08:51:51.0957513' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0')
INSERT [dbo].[UserStores] ([Id], [TenantId], [UserId], [StoreId], [IsActive], [CreatedAt], [CreatedBy]) VALUES (N'c44c0d8c-352d-40ed-80e1-56e3ea2927cc', N'd1335392-f71b-4462-a835-58f325306a73', N'1b1841a079cb420197009b6823eea35a', N'366b9b72-d835-475a-84b5-3f56c4a4c2c4', 1, CAST(N'2026-05-29T01:19:38.5433443' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0')
INSERT [dbo].[UserStores] ([Id], [TenantId], [UserId], [StoreId], [IsActive], [CreatedAt], [CreatedBy]) VALUES (N'522d35f0-3d9f-4e83-b0c7-5d42a6c97a78', N'd1335392-f71b-4462-a835-58f325306a73', N'0efa12e3cb794b4bab1105339dbb58e3', N'366b9b72-d835-475a-84b5-3f56c4a4c2c4', 1, CAST(N'2026-05-28T22:50:20.5777362' AS DateTime2), N'9517d31e34754d0b9e0aad1f96c712d0')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_TenantId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_TenantId] ON [dbo].[AspNetUsers]
(
	[TenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_TenantId_StoreId_CreatedAt]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_TenantId_StoreId_CreatedAt] ON [dbo].[AuditLogs]
(
	[TenantId] ASC,
	[StoreId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLogs_TenantId_UserId_CreatedAt]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_TenantId_UserId_CreatedAt] ON [dbo].[AuditLogs]
(
	[TenantId] ASC,
	[UserId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_TenantId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Categories_TenantId] ON [dbo].[Categories]
(
	[TenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Categories_TenantId_Name]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Categories_TenantId_Name] ON [dbo].[Categories]
(
	[TenantId] ASC,
	[Name] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Inventories_TenantId_StoreId_ProductId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Inventories_TenantId_StoreId_ProductId] ON [dbo].[Inventories]
(
	[TenantId] ASC,
	[StoreId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_TenantId_StoreId_ProductId_CreatedAt]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_TenantId_StoreId_ProductId_CreatedAt] ON [dbo].[InventoryTransactions]
(
	[TenantId] ASC,
	[StoreId] ASC,
	[ProductId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_ProductId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_ProductId] ON [dbo].[OrderItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_TenantId_StoreId_CreatedAt]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_TenantId_StoreId_CreatedAt] ON [dbo].[Orders]
(
	[TenantId] ASC,
	[StoreId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Orders_TenantId_OrderCode]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Orders_TenantId_OrderCode] ON [dbo].[Orders]
(
	[TenantId] ASC,
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_OrderId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_OrderId] ON [dbo].[Payments]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_TenantId_Barcode]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_TenantId_Barcode] ON [dbo].[Products]
(
	[TenantId] ASC,
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_TenantId_Sku]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_TenantId_Sku] ON [dbo].[Products]
(
	[TenantId] ASC,
	[Sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Products_TenantId_Barcode]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Products_TenantId_Barcode] ON [dbo].[Products]
(
	[TenantId] ASC,
	[Barcode] ASC
)
WHERE ([Barcode] IS NOT NULL AND [IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Products_TenantId_Sku]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Products_TenantId_Sku] ON [dbo].[Products]
(
	[TenantId] ASC,
	[Sku] ASC
)
WHERE ([Sku] IS NOT NULL AND [IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shifts_TenantId_StoreId_OpenedAt]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Shifts_TenantId_StoreId_OpenedAt] ON [dbo].[Shifts]
(
	[TenantId] ASC,
	[StoreId] ASC,
	[OpenedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_StoreProducts_TenantId_StoreId_ProductId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_StoreProducts_TenantId_StoreId_ProductId] ON [dbo].[StoreProducts]
(
	[TenantId] ASC,
	[StoreId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Stores_TenantId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Stores_TenantId] ON [dbo].[Stores]
(
	[TenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Stores_TenantId_Code]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Stores_TenantId_Code] ON [dbo].[Stores]
(
	[TenantId] ASC,
	[Code] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SystemPayments_TenantId_PaidAt]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_SystemPayments_TenantId_PaidAt] ON [dbo].[SystemPayments]
(
	[TenantId] ASC,
	[PaidAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SystemPayments_TransactionCode]    Script Date: 6/4/2026 12:00:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SystemPayments_TransactionCode] ON [dbo].[SystemPayments]
(
	[TransactionCode] ASC
)
WHERE ([TransactionCode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SystemPaymentWebhooks_SystemPaymentId]    Script Date: 6/4/2026 12:00:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_SystemPaymentWebhooks_SystemPaymentId] ON [dbo].[SystemPaymentWebhooks]
(
	[SystemPaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SystemPaymentWebhooks_IsProcessed]    Script Date: 6/4/2026 12:00:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_SystemPaymentWebhooks_IsProcessed] ON [dbo].[SystemPaymentWebhooks]
(
	[IsProcessed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SystemPaymentWebhooks_ReferenceCode]    Script Date: 6/4/2026 12:00:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_SystemPaymentWebhooks_ReferenceCode] ON [dbo].[SystemPaymentWebhooks]
(
	[ReferenceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tenants_OwnerUserId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tenants_OwnerUserId] ON [dbo].[Tenants]
(
	[OwnerUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TenantSubscriptions_TenantId_Status]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_TenantSubscriptions_TenantId_Status] ON [dbo].[TenantSubscriptions]
(
	[TenantId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserStores_StoreId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserStores_StoreId] ON [dbo].[UserStores]
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_UserStores_TenantId_UserId_StoreId]    Script Date: 5/29/2026 3:59:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_UserStores_TenantId_UserId_StoreId] ON [dbo].[UserStores]
(
	[TenantId] ASC,
	[UserId] ASC,
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_EmailConfirmed]  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_PhoneNumberConfirmed]  DEFAULT ((0)) FOR [PhoneNumberConfirmed]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_TwoFactorEnabled]  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_LockoutEnabled]  DEFAULT ((1)) FOR [LockoutEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_AccessFailedCount]  DEFAULT ((0)) FOR [AccessFailedCount]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_Status]  DEFAULT (N'Active') FOR [Status]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Inventories] ADD  CONSTRAINT [DF_Inventories_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Inventories] ADD  CONSTRAINT [DF_Inventories_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Inventories] ADD  CONSTRAINT [DF_Inventories_MinQuantity]  DEFAULT ((0)) FOR [MinQuantity]
GO
ALTER TABLE [dbo].[Inventories] ADD  CONSTRAINT [DF_Inventories_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  CONSTRAINT [DF_InventoryTransactions_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  CONSTRAINT [DF_InventoryTransactions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItems_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItems_DiscountAmount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_SubTotal]  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_DiscountAmount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_TaxAmount]  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_TotalAmount]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_PaymentStatus]  DEFAULT (N'Unpaid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderStatus]  DEFAULT (N'New') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_Status]  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CostPrice]  DEFAULT ((0)) FOR [CostPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Shifts] ADD  CONSTRAINT [DF_Shifts_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Shifts] ADD  CONSTRAINT [DF_Shifts_OpenedAt]  DEFAULT (sysutcdatetime()) FOR [OpenedAt]
GO
ALTER TABLE [dbo].[Shifts] ADD  CONSTRAINT [DF_Shifts_OpeningCash]  DEFAULT ((0)) FOR [OpeningCash]
GO
ALTER TABLE [dbo].[Shifts] ADD  CONSTRAINT [DF_Shifts_Status]  DEFAULT (N'Open') FOR [Status]
GO
ALTER TABLE [dbo].[StoreProducts] ADD  CONSTRAINT [DF_StoreProducts_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[StoreProducts] ADD  CONSTRAINT [DF_StoreProducts_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[StoreProducts] ADD  CONSTRAINT [DF_StoreProducts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Stores_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Stores_Status]  DEFAULT (N'Active') FOR [Status]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Stores_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Stores_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  CONSTRAINT [DF_SubscriptionPlans_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  CONSTRAINT [DF_SubscriptionPlans_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  CONSTRAINT [DF_SubscriptionPlans_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  CONSTRAINT [DF_SubscriptionPlans_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  CONSTRAINT [DF_SubscriptionPlans_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SystemPayments] ADD  CONSTRAINT [DF_SystemPayments_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[SystemPayments] ADD  CONSTRAINT [DF_SystemPayments_Status]  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[SystemPayments] ADD  CONSTRAINT [DF_SystemPayments_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tenants] ADD  CONSTRAINT [DF_Tenants_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Tenants] ADD  CONSTRAINT [DF_Tenants_Status]  DEFAULT (N'Active') FOR [Status]
GO
ALTER TABLE [dbo].[Tenants] ADD  CONSTRAINT [DF_Tenants_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tenants] ADD  CONSTRAINT [DF_Tenants_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TenantSubscriptions] ADD  CONSTRAINT [DF_TenantSubscriptions_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[TenantSubscriptions] ADD  CONSTRAINT [DF_TenantSubscriptions_Status]  DEFAULT (N'Active') FOR [Status]
GO
ALTER TABLE [dbo].[TenantSubscriptions] ADD  CONSTRAINT [DF_TenantSubscriptions_AutoRenew]  DEFAULT ((1)) FOR [AutoRenew]
GO
ALTER TABLE [dbo].[TenantSubscriptions] ADD  CONSTRAINT [DF_TenantSubscriptions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserStores] ADD  CONSTRAINT [DF_UserStores_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[UserStores] ADD  CONSTRAINT [DF_UserStores_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserStores] ADD  CONSTRAINT [DF_UserStores_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Tenants_TenantId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Stores_StoreId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Tenants_TenantId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Tenants_TenantId]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Products_ProductId]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Stores_StoreId]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Tenants_TenantId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_AspNetUsers_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_AspNetUsers_CreatedBy]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Products_ProductId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Stores_StoreId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Tenants_TenantId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products_ProductId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Tenants_TenantId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_AspNetUsers_CancelledBy] FOREIGN KEY([CancelledBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_AspNetUsers_CancelledBy]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_AspNetUsers_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_AspNetUsers_CreatedBy]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_AspNetUsers_StaffUserId] FOREIGN KEY([StaffUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_AspNetUsers_StaffUserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Shifts_ShiftId] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shifts] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Shifts_ShiftId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Stores_StoreId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Tenants_TenantId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders_OrderId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Tenants_TenantId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Tenants_TenantId]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_AspNetUsers_ClosedBy] FOREIGN KEY([ClosedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_AspNetUsers_ClosedBy]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_AspNetUsers_OpenedBy] FOREIGN KEY([OpenedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_AspNetUsers_OpenedBy]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_Stores_StoreId]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_Tenants_TenantId]
GO
ALTER TABLE [dbo].[StoreProducts]  WITH CHECK ADD  CONSTRAINT [FK_StoreProducts_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[StoreProducts] CHECK CONSTRAINT [FK_StoreProducts_Products_ProductId]
GO
ALTER TABLE [dbo].[StoreProducts]  WITH CHECK ADD  CONSTRAINT [FK_StoreProducts_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[StoreProducts] CHECK CONSTRAINT [FK_StoreProducts_Stores_StoreId]
GO
ALTER TABLE [dbo].[StoreProducts]  WITH CHECK ADD  CONSTRAINT [FK_StoreProducts_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[StoreProducts] CHECK CONSTRAINT [FK_StoreProducts_Tenants_TenantId]
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [FK_Stores_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [FK_Stores_Tenants_TenantId]
GO
ALTER TABLE [dbo].[SystemPayments]  WITH CHECK ADD  CONSTRAINT [FK_SystemPayments_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[SystemPayments] CHECK CONSTRAINT [FK_SystemPayments_Tenants_TenantId]
GO
ALTER TABLE [dbo].[SystemPayments]  WITH CHECK ADD  CONSTRAINT [FK_SystemPayments_TenantSubscriptions_SubscriptionId] FOREIGN KEY([SubscriptionId])
REFERENCES [dbo].[TenantSubscriptions] ([Id])
GO
ALTER TABLE [dbo].[SystemPayments] CHECK CONSTRAINT [FK_SystemPayments_TenantSubscriptions_SubscriptionId]
GO
ALTER TABLE [dbo].[SystemPaymentWebhooks]  WITH CHECK ADD  CONSTRAINT [FK_SystemPaymentWebhooks_SystemPayments_SystemPaymentId] FOREIGN KEY([SystemPaymentId])
REFERENCES [dbo].[SystemPayments] ([Id])
GO
ALTER TABLE [dbo].[SystemPaymentWebhooks] CHECK CONSTRAINT [FK_SystemPaymentWebhooks_SystemPayments_SystemPaymentId]
GO
ALTER TABLE [dbo].[Tenants]  WITH CHECK ADD  CONSTRAINT [FK_Tenants_AspNetUsers_OwnerUserId] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Tenants] CHECK CONSTRAINT [FK_Tenants_AspNetUsers_OwnerUserId]
GO
ALTER TABLE [dbo].[TenantSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_TenantSubscriptions_SubscriptionPlans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[SubscriptionPlans] ([Id])
GO
ALTER TABLE [dbo].[TenantSubscriptions] CHECK CONSTRAINT [FK_TenantSubscriptions_SubscriptionPlans_PlanId]
GO
ALTER TABLE [dbo].[TenantSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_TenantSubscriptions_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[TenantSubscriptions] CHECK CONSTRAINT [FK_TenantSubscriptions_Tenants_TenantId]
GO
ALTER TABLE [dbo].[UserStores]  WITH CHECK ADD  CONSTRAINT [FK_UserStores_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserStores] CHECK CONSTRAINT [FK_UserStores_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserStores]  WITH CHECK ADD  CONSTRAINT [FK_UserStores_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[UserStores] CHECK CONSTRAINT [FK_UserStores_Stores_StoreId]
GO
ALTER TABLE [dbo].[UserStores]  WITH CHECK ADD  CONSTRAINT [FK_UserStores_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[UserStores] CHECK CONSTRAINT [FK_UserStores_Tenants_TenantId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [CK_AspNetUsers_Status] CHECK  (([Status]=N'Pending' OR [Status]=N'Locked' OR [Status]=N'Inactive' OR [Status]=N'Active'))
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [CK_AspNetUsers_Status]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [CK_Inventories_MinQuantity] CHECK  (([MinQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [CK_Inventories_MinQuantity]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [CK_Inventories_Quantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [CK_Inventories_Quantity]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_AfterQuantity] CHECK  (([AfterQuantity]>=(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_AfterQuantity]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_BeforeQuantity] CHECK  (([BeforeQuantity]>=(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_BeforeQuantity]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Quantity]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Type] CHECK  (([Type]=N'TransferOut' OR [Type]=N'TransferIn' OR [Type]=N'Return' OR [Type]=N'Adjust' OR [Type]=N'Sale' OR [Type]=N'Export' OR [Type]=N'Import'))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Type]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CK_OrderItems_Amounts] CHECK  (([UnitPrice]>=(0) AND [DiscountAmount]>=(0) AND [LineTotal]>=(0)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CK_OrderItems_Amounts]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CK_OrderItems_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CK_OrderItems_Quantity]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_Amounts] CHECK  (([SubTotal]>=(0) AND [DiscountAmount]>=(0) AND [TaxAmount]>=(0) AND [TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_Amounts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_CancelledAt] CHECK  (([CancelledAt] IS NULL OR [CancelledAt]>=[CreatedAt]))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_CancelledAt]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_OrderStatus] CHECK  (([OrderStatus]=N'Cancelled' OR [OrderStatus]=N'Completed' OR [OrderStatus]=N'New'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_OrderStatus]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_PaymentStatus] CHECK  (([PaymentStatus]=N'Cancelled' OR [PaymentStatus]=N'Refunded' OR [PaymentStatus]=N'Paid' OR [PaymentStatus]=N'Partial' OR [PaymentStatus]=N'Unpaid'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_PaymentStatus]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Amount]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Method] CHECK  (([Method]=N'Other' OR [Method]=N'ZaloPay' OR [Method]=N'Momo' OR [Method]=N'Card' OR [Method]=N'BankTransfer' OR [Method]=N'Cash'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Method]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Status] CHECK  (([Status]=N'Cancelled' OR [Status]=N'Refunded' OR [Status]=N'Failed' OR [Status]=N'Paid' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Status]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_CostPrice] CHECK  (([CostPrice]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_CostPrice]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_Price]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CK_Shifts_ClosedAt] CHECK  (([ClosedAt] IS NULL OR [ClosedAt]>=[OpenedAt]))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CK_Shifts_ClosedAt]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CK_Shifts_ClosingCash] CHECK  (([ClosingCash] IS NULL OR [ClosingCash]>=(0)))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CK_Shifts_ClosingCash]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CK_Shifts_ExpectedCash] CHECK  (([ExpectedCash] IS NULL OR [ExpectedCash]>=(0)))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CK_Shifts_ExpectedCash]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CK_Shifts_OpeningCash] CHECK  (([OpeningCash]>=(0)))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CK_Shifts_OpeningCash]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CK_Shifts_Status] CHECK  (([Status]=N'Closed' OR [Status]=N'Open'))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CK_Shifts_Status]
GO
ALTER TABLE [dbo].[StoreProducts]  WITH CHECK ADD  CONSTRAINT [CK_StoreProducts_SellingPrice] CHECK  (([SellingPrice] IS NULL OR [SellingPrice]>=(0)))
GO
ALTER TABLE [dbo].[StoreProducts] CHECK CONSTRAINT [CK_StoreProducts_SellingPrice]
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [CK_Stores_Status] CHECK  (([Status]=N'Closed' OR [Status]=N'Inactive' OR [Status]=N'Active'))
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [CK_Stores_Status]
GO
ALTER TABLE [dbo].[SubscriptionPlans]  WITH CHECK ADD  CONSTRAINT [CK_SubscriptionPlans_BillingCycle] CHECK  (([BillingCycle]=N'Yearly' OR [BillingCycle]=N'Quarterly' OR [BillingCycle]=N'Monthly'))
GO
ALTER TABLE [dbo].[SubscriptionPlans] CHECK CONSTRAINT [CK_SubscriptionPlans_BillingCycle]
GO
ALTER TABLE [dbo].[SubscriptionPlans]  WITH CHECK ADD  CONSTRAINT [CK_SubscriptionPlans_Limits] CHECK  ((([MaxStores] IS NULL OR [MaxStores]>=(0)) AND ([MaxStaff] IS NULL OR [MaxStaff]>=(0)) AND ([MaxProducts] IS NULL OR [MaxProducts]>=(0))))
GO
ALTER TABLE [dbo].[SubscriptionPlans] CHECK CONSTRAINT [CK_SubscriptionPlans_Limits]
GO
ALTER TABLE [dbo].[SubscriptionPlans]  WITH CHECK ADD  CONSTRAINT [CK_SubscriptionPlans_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[SubscriptionPlans] CHECK CONSTRAINT [CK_SubscriptionPlans_Price]
GO
ALTER TABLE [dbo].[SystemPayments]  WITH CHECK ADD  CONSTRAINT [CK_SystemPayments_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[SystemPayments] CHECK CONSTRAINT [CK_SystemPayments_Amount]
GO
ALTER TABLE [dbo].[SystemPayments]  WITH CHECK ADD  CONSTRAINT [CK_SystemPayments_Method] CHECK  (([Method]=N'Other' OR [Method]=N'ZaloPay' OR [Method]=N'Momo' OR [Method]=N'Card' OR [Method]=N'SePay' OR [Method]=N'BankTransfer' OR [Method]=N'Cash'))
GO
ALTER TABLE [dbo].[SystemPayments] CHECK CONSTRAINT [CK_SystemPayments_Method]
GO
ALTER TABLE [dbo].[SystemPayments]  WITH CHECK ADD  CONSTRAINT [CK_SystemPayments_Status] CHECK  (([Status]=N'Cancelled' OR [Status]=N'Refunded' OR [Status]=N'Failed' OR [Status]=N'Paid' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[SystemPayments] CHECK CONSTRAINT [CK_SystemPayments_Status]
GO
ALTER TABLE [dbo].[Tenants]  WITH CHECK ADD  CONSTRAINT [CK_Tenants_Status] CHECK  (([Status]=N'Trial' OR [Status]=N'Cancelled' OR [Status]=N'Suspended' OR [Status]=N'Active'))
GO
ALTER TABLE [dbo].[Tenants] CHECK CONSTRAINT [CK_Tenants_Status]
GO
ALTER TABLE [dbo].[TenantSubscriptions]  WITH CHECK ADD  CONSTRAINT [CK_TenantSubscriptions_DateRange] CHECK  (([EndDate] IS NULL OR [EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[TenantSubscriptions] CHECK CONSTRAINT [CK_TenantSubscriptions_DateRange]
GO
ALTER TABLE [dbo].[TenantSubscriptions]  WITH CHECK ADD  CONSTRAINT [CK_TenantSubscriptions_Status] CHECK  (([Status]=N'Suspended' OR [Status]=N'Cancelled' OR [Status]=N'Expired' OR [Status]=N'Trial' OR [Status]=N'Active'))
GO
ALTER TABLE [dbo].[TenantSubscriptions] CHECK CONSTRAINT [CK_TenantSubscriptions_Status]
GO
USE [master]
GO





